.marquee-track {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll-left 32s linear infinite;
}

.marquee-text {
  padding-right: 2rem;
  font-weight: 700; 
  font-size: 1rem; 
}

 @keyframes scroll-left {
   0% {
     transform: translateX(0);
   }

   100% {
     transform: translateX(-50%);
   }
 }

 body {
   font-family: 'Poppins', sans-serif;
 }

 .faq-arrow {
   transition: transform 0.3s ease;
 }

 .faq-item.active .faq-arrow {
   transform: rotate(90deg);
 }