.marquee-track {
  display: inline-flex;
  white-space: nowrap;
  animation: scroll-left 32s linear infinite;
}

.marquee-text {
  padding-right: 2rem;
  font-weight: 700; 
  font-size: 1rem; 
}

 @keyframes scroll-left {
   0% {
     transform: translateX(0);
   }

   100% {
     transform: translateX(-50%);
   }
 }

 body {
  font-family: "Bricolage Grotesque", sans-serif;
 }

 .faq-arrow {
   transition: transform 0.3s ease;
 }

 .faq-item.active .faq-arrow {
   transform: rotate(90deg);
 }
   .tab-btn {
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 12px;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    transition: 200ms ease;
    border: 1px solid rgba(255,255,255,0.4);
  }
.glass-box {
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 40px -12px rgba(0,0,0,0.4);
}

  .tab-btn:hover {
    background: rgba(255,255,255,0.8);
  }

  .active-tab {
    background: #56bf36 !important;
    color: white;
    box-shadow: 0 8px 20px -4px rgba(86,191,54,0.4);
  }